extends layout

block content
  h1 Register Employee
  form(method='Post', action='/employees/add')
    #form-group
      label Surname:
      input.form-control(name='surname', type='text')
    #form-group
      label Second Surname:
      input.form-control(name='second_surname', type='text')
    #form-group
      label first Name:
      input.form-control(name='firstname', type='text')
    #form-group
      label Midle Name:
      input.form-control(name='midlename', type='text')
    #form-group
      label Country:
      select.form-control(name='country')
        option(value="Colombia", type='text') Colombia
        option(value="United States", type='text') United States  
    #form-group
      label Id Type:
      select.form-control(name='id_type')
        option(value="C.C", type='text') C.C
        option(value="C.E", type='text') C.E  
        option(value="passport", type='text') Passport  
        option(value="special permission", type='text') Special Permission  
    #form-group
      label Id Number:
      input.form-control(name='id_number', type='text')
    
    //#form-group
      label Email:
      input.form-control(name='email', type='text')
      
    #form-group
      label Start Date:
      input.form-control(name='start_date', type='text')
    #form-group
      label Area:
      select.form-control(name='area')
        option(value="Administraci贸n", type='text') Administraci贸n
        option(value="Financiera", type='text') Financiera  
        option(value="Compras", type='text') Compras  
        option(value="Operaci贸n", type='text') Operaci贸n 
        option(value="Talento Humano", type='text') Talento Humano 
        option(value="Servicios Varios", type='text') Servicios Varios 
        option(value="otro", type='text') Otros 
    #form-group
      label Status:
      input.form-control(name='status', type='text')
    #form-group
      label Register Date:
      input.form-control(name='register_date', type='text')
      
    br
    input.btn.btn-primary(type='submit',value='Submit')
